@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --title-color: rgb(0, 0, 0);
    --primary-color: rgb(0, 0, 0);
    --border: black;
    --background: rgba(255, 233, 233, 0.925);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    --title-color: rgb(255, 152, 16);
    --primary-color: white;
    --color-cyan: cyan;
    --text-shadow: 0 0 5px cyan;
    --text-shadow-title:
        0 0 10px rgb(0, 255, 255),
        0 0 10px rgb(0, 255, 255),
        0 0 30px rgba(0, 255, 255, 0.699);
    --box-shadow-button:
        0 2px 3px 0 cyan inset,
        0 2px 7px 0 cyan,
        0 2px 10px 0 cyan inset,
        0 2px 16px 0 cyan;
    --background: linear-gradient(to bottom, #000000, #0b060a, #0f0d15, #0e141d, #071a22, #071a22, #071a22, #071a22, #0e141d, #0f0d15, #0b060a, #000000);
    --border: cyan;
    --subtitle-shadow:
        0 0 5px rgb(255, 152, 16),
        0 0 20px rgba(255, 151, 16, 0.712);
}

body {
    background-image: var(--background);
    background-color: var(--background);
    color: var(--primary-color);
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.9px;
    line-height: 1.5;
}

/* TITLE */
h2 {
    color: var(--primary-color);
    font-family: 'Orbitron', sans-serif;
    text-shadow: var(--text-shadow-title);
    font-size: 5rem;
}

/* SUBTITLE */
h3 {
    color: var(--title-color);
    font-size: 3.8rem;
    font-family: 'Orbitron', sans-serif;
    text-shadow: var(--subtitle-shadow);
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
}

button {
    background: transparent;
    cursor: pointer;
}

.button {
    font-family: 'Dosis', sans-serif;
    color: var(--primary-color);
    border: 2px solid var(--border);
    border-radius: 100px;
    background-color: transparent;
    letter-spacing: 0.9px;
    padding: 10px 20px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

span {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

.button:hover {
    box-shadow: var(--box-shadow-button);
    text-shadow: var(--text-shadow);
}

/* ANIMATION ON SCROLL */
.hidden {
    opacity: 0;
    transition: all 1.4s;
    transform: translateY(60px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden-left {
    transform: translate(-100%, 30px);
    opacity: 0;
    transition: all 1.4s;
}

.hidden-right {
    transform: translate(100%, 30px);
    opacity: 0;
    transition: all 1.4s;
}

.show-img {
    transform: translateX(0);
    opacity: 1;
}

/* END OF GLOBAL STYLES */

.nav {
    width: 100%;
    height: 55px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 10;
    top: 0;
}

.center {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    border-bottom: 1px solid var(--primary-color);
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a:hover {
    color: var(--color-cyan);
}

.nav-links button {
    border: none;
    font-size: 20px;
    width: 20px;
    color: var(--primary-color);
}

/* NAME TITLE */

.sec {
    height: calc(100vh - 55px);
}

.sec-center {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

.sec-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.svg-info {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.svg-info img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/* section projects */

.projects-title span {
    font-size: 1.1rem;
    color: var(--primary-color);
}

.projects-title {
    margin-bottom: 60px;
}

.projects-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.cards-responsive {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 20px;
}

.cards {
    border: 2px solid var(--border);
    border-radius: 60px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 15px;
    position: relative;
}

/* USE OF IMAGE TO SEE HOW IT LOOKS */

.card-img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.card-img::before {
    display: flex;
    justify-content: center;
    content: attr(data-text);
    color: white;
    font-size: 1.3rem;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease-in-out;
}

.card-img:hover::before {
    opacity: 1;
    z-index: 2;
}

.card-img img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: left;
}

/* ABOUT ME SECTION */

.about-me-container {
    width: 70%;
    margin: 120px auto;
    padding-top: 50px;
    overflow: hidden;
}

.about-me-info {
    width: 85%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 25px;
}

.about-me-img {
    width: 100%;
    height: 400px;
}

.about-me-img img {
    width: 100%;
    height: 400px;
}

/* CONTACT FORM */

.contact {
    width: 70%;
    margin: 0 auto;
    height: 1200px;
}

.contact-container {
    margin-top: 200px;
}

.contact-container h3 {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
    background-color: rgba(0, 255, 255, 0.404);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 550px) {
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .nav-links a {
        display: none;
    }
    .hidden{
        transition: none;
    }
}

@media only screen and (max-width: 800px) {
    .about-me-info {
        grid-template-columns: 1fr;
        display: grid;
    }
    .hidden{
        transition: none;
    }
    .hidden-right{
        transition: none;
    }
    .hidden-left{
        transition: none;
    }
}